<input type='input' class='form-control addtask'><button class='btn btn-s btn-info addtaskbtn'>添加</button>
{%if  taskList.Critical or   taskList.Severe or  taskList.Major or  taskList.Minor or taskList.Finished%}
{%if taskList.Critical%}
<h5 class='Critical'>Critical</h5>
{%for task in taskList.Critical%}
<div class='task' id="task{{task.id}}">
    {%if task.type == 2%}
    <input type='checkbox' class='finishbox' data-taskid="{{task.id}}"/>
    {%endif%}
    <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
    <span class='glyphicon glyphicon-trash'></span>
    {%if task.deadline%}
    <span class='deadline'>{{task.deadline}}</span>
    {%endif%}
</div>
{%endfor%}
{%endif%}
{%if taskList.Severe%}
<h5 class='Severe'>Severe</h5>
{%for task in taskList.Severe%}
<div class='task' id="task{{task.id}}">
    {%if task.type == 2%}
    <input type='checkbox' class='finishbox' data-taskid="{{task.id}}"/>
    {%endif%}
    <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
    <span class='glyphicon glyphicon-trash'></span>
    {%if task.deadline%}
    <span class='deadline'>{{task.deadline}}</span>
    {%endif%}
</div>
{%endfor%}
{%endif%}
{%if taskList.Major%}
<h5 class="Major">Major</h5>
{%for task in taskList.Major%}
<div class='task' id="task{{task.id}}">
    {%if task.type == 2%}
    <input type='checkbox' class='finishbox' data-taskid="{{task.id}}"/>
    {%endif%}
    <span class='tasktitle' ><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
    <span class='glyphicon glyphicon-trash'></span>
    {%if task.deadline%}
    <span class='deadline'>{{task.deadline}}</span>
    {%endif%}
</div>
{%endfor%}
{%endif%}
{%if taskList.Minor%}
<h5 class="Minor">Minor</h5>
{%for task in taskList.Minor%}
<div class='task' id="task{{task.id}}">
    {%if task.type == 2%}
    <input type='checkbox' class='finishbox' data-taskid="{{task.id}}"/>
    {%endif%}
    <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
    <span class='glyphicon glyphicon-trash'></span>
    {%if task.deadline%}
    <span class='deadline'>{{task.deadline}}</span>
    {%endif%}
</div>
{%endfor%}
{%endif%}
{%if taskList.type == '2' and taskList.Finished%}
<h5 class="Finished">Finished</h5>
{%for task in taskList.Finished%}
<div class='task' id="task{{task.id}}">
    <input type='checkbox' class='finishbox' data-taskid="{{task.id}}" checked/>
    <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
</div>
{%endfor%}
{%endif%}
{%else%}
<span>还没有任务哦，赶紧<a href="#" class='addtaskbtn'>添加</a>一个吧</span>
{%endif%}