{%if thisWeekList or otherWeekList%}
    {%if thisWeekList%}
    <h5>近期</h5>
    {%for task in thisWeekList%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#' data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-share-alt'></span>
    </div>
    {%endfor%}
    {%endif%}
    {%if otherWeekList%}
    <h5>更早</h5>
    {%for task in otherWeekList%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#' data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-share-alt'></span>
    </div>
    {%endfor%}
    {%endif%}
{%else%}
    <span>还没有完成的任务哦~</span>
{%endif%}