<!DOCTYPE html>
<html>
<head>
    <title>Upon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='utf-8'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!--ichecker-->
        <link href="{{STATIC_URL}}css/blue.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/yellow.css" rel="stylesheet">
        <link rel='stylesheet' href='{{STATIC_URL}}autocomplete/styles.css' >
        <link rel='stylesheet' href='{{STATIC_URL}}css/main.css' >

    </head>

    <body>
        <header>
            <div class="navbar navbar-default">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Upon团队管理</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id='headernav'>
                  <li id='teamtask' class="active"><a href="#">团队任务</a></li>
                  <li id='mytask'><a href="#about">我的任务</a></li>
                  <li id='waittask' ><a href="#contact" >待确认任务<span class="badge" id='waitnum'></span></a></li>
                  <li id='othertask' class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他任务</a>
                    <ul class="dropdown-menu">
                      <li id='finishedtask'><a href="#">已完成任务</a></li>
                      <li id='rubbishtask'><a href="#">回收箱</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">团队管理</li>
                  <li><a href="#" class="addteambtn">创建团队</a></li>
                  <li><a href="#" class="manageteambtn">管理团队成员</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">项目管理</li>
                  <li><a href="#" class="addprojectbtn">创建项目</a></li>
                  <li><a href="#" class="deleteprojectbtn">删除项目</a></li>
              </ul>
          </li>
          <li class="pull-right" id="banner-icon">
                <a href="#" class="modifypersoninfobtn"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="/logout/"><span class="glyphicon glyphicon-log-out"></span></a>
            </li>
             <li class="dropdown pull-right" id="personal-info">
                <a href="#"><img src="/avatar/{{user.id}}/" class="smallphoto">{{user.email}}</a>
            </li>
          <!-- <li class="dropdown" id='personal-info'>
            <a href="#"><img src='/avatar/{{user.id}}/' class='smallphoto'>{{user.email}}</a>
        </li>
        <li id="banner-icon">
            <a href="#" class="modifypersoninfobtn"><span class="glyphicon glyphicon-cog"></span></a>
            <a href="{%url 'upon:logout'%}"><span class="glyphicon glyphicon-log-out"></span></a>
        </li> -->
    </ul>
</div><!--/.nav-collapse -->
</div>
</div>
</header>
<nav id='leftcolumn'>

       <!--  <section>
                <img src='{{STATIC_URL}}image/head.png' alt='个人头像' class='img-thumbnail bigphoto'>
                <a href="#" class='username'>{{user.email}}</a>
            </section> -->
            <section>
                <!-- <span>团队</span> -->
                <h4>我的团队</h4>
                <div class="btn-group">
                  <button type="button" id='teamselect' class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{currentTeam.name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {%for team in teams%}
                    <li><a href="/{{team.id}}/">{{team.name}}</a></li>
                    {%endfor%}
                    <li class="divider"></li>
                    <li><a href="#" class="addteambtn">创建团队</a></li>
                </ul>
            </div>

            {%if currentTeam.member.all.length > 3%}
            <img class="img-thumbnail bigphoto todoer" src="/avatar/{{currentTeam.member.0.id}}/" data-toggle='tooltip' data-placement='bottom' data-original-title="{{currentTeam.member.0.email}}"/>
            <img class="img-thumbnail bigphoto todoer" src="/avatar/{{currentTeam.member.1.id}}/" data-toggle='tooltip' data-placement='bottom' data-original-title="{{currentTeam.member.1.email}}"/>
            <img class="img-thumbnail bigphoto todoer" src="/avatar/{{currentTeam.member.2.id}}/" data-toggle='tooltip' data-placement='bottom' data-original-title="{{currentTeam.member.2.email}}"/>
            <a href="#" id="memberpop" style="font-size: 20px">...</a>
            {%else%}
            {%for member in currentTeam.member.all%}
            <img class="img-thumbnail bigphoto todoer" src="/avatar/{{member.id}}/" data-toggle='tooltip' data-placement='bottom' data-original-title="{{member.email}}"/>
            {%endfor%}
            {%endif%}


            <h4>项目</h4>
            <div id='project-list' class="list-group">
                {%for project in projects%}
                {%if project.id == currentProject.id%}
                <a href="/{{currentTeam.id}}/{{project.id}}" class="list-group-item active">
                  {{project.name}}<span class='glyphicon glyphicon-chevron-right'></span>
              </a>
              {%else%}
              <a href="/{{currentTeam.id}}/{{project.id}}" class="list-group-item">{{project.name}}</a>
              {%endif%}
              {%endfor%}
              <a href="#" class="list-group-item"><span class='glyphicon glyphicon-plus-sign'></span>创建项目</a>
          </div>
      </section>

        <!-- <section>
            <h4>成员</h4  >
            <img src='{{STATIC_URL}}image/head.png' alt='个人头像' class='img-thumbnail bigphoto'>
            <img src='{{STATIC_URL}}image/head.png' alt='个人头像' class='img-thumbnail bigphoto'>
            <img src='{{STATIC_URL}}image/head.png' alt='个人头像' class='img-thumbnail bigphoto'>
            <img src='{{STATIC_URL}}image/head.png' alt='个人头像' class='img-thumbnail bigphoto'>
            <img src='{{STATIC_URL}}image/head.png' alt='个人头像' class='img-thumbnail bigphoto'>
            <img src='{{STATIC_URL}}image/head.png' alt='个人头像' class='img-thumbnail bigphoto'>
        </section> -->
    </nav>


    <article id='middlecolumn'>



        <!-- 回收箱，已完成 -->
        <div class="panel-group" id="rubbishaccordion" >
            <div class="panel panel-default">  
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-toggle="collapse" data-parent="#rubbishaccordion" href="#rubbishcollapse">
                            回收箱
                        </a>
                    </h4>
                </div>
                <div id="rubbishcollapse" class="panel-collapse collapse in nocheckpanel">    
                    <div class="panel-body">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-toggle="collapse" data-parent="#rubbishaccordion" href="#finishcollapse">
                            已完成任务
                        </a>
                    </h4>
                </div>
                <div id="finishcollapse" class="panel-collapse collapse nocheckpanel">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>


        <!-- 个人任务 -->
        <div id='personal-task-panel' class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="collapse" data-parent="#personal-task-panel" href="#mytaskcollapse">
                        我的任务
                    </a>
                </h4>
            </div>
            <div id="mytaskcollapse" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <!-- 待确认 -->
        <div id='confirm-task-panel' class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="collapse" data-parent="#confirm-task-panel" href="#confirmtaskcollapse">
                        等待我确认的任务
                    </a>
                </h4>
            </div>
            <div id="confirmtaskcollapse" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>


        <!-- 团队任务 -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-success" id="currentWeekTask">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  本周任务
              </a>
          </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <input type='input' class='form-control addtask'><button class='btn btn-s btn-info addtaskbtn' data-type='currentWeekTask'>添加</button>
            {%if  currentWeekTasks.Critical or   currentWeekTasks.Severe or  currentWeekTasks.Major or  currentWeekTasks.Minor or currentWeekTasks.Finished%}
            {%if currentWeekTasks.Critical%}
            <h5 class='Critical'>Critical</h5>
            {%for task in currentWeekTasks.Critical%}
            <div class='task' id="task{{task.id}}">
                <input type='checkbox' class='finishbox' data-taskid="{{task.id}}"/>
                <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
                <span class='glyphicon glyphicon-trash'></span>
                {%if task.deadline%}
                <span class='deadline'>{{task.deadline}}</span>
                {%endif%}
            </div>
            {%endfor%}
            {%endif%}
            {%if currentWeekTasks.Severe%}
            <h5 class='Severe'>Severe</h5>
            {%for task in currentWeekTasks.Severe%}
            <div class='task' id="task{{task.id}}">
                <input type='checkbox' class='finishbox' data-taskid="{{task.id}}"/>
                <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
                <span class='glyphicon glyphicon-trash'></span>
                {%if task.deadline%}
                <span class='deadline'>{{task.deadline}}</span>
                {%endif%}
            </div>
            {%endfor%}
            {%endif%}
            {%if currentWeekTasks.Major%}
            <h5 class="Major">Major</h5>
            {%for task in currentWeekTasks.Major%}
            <div class='task' id="task{{task.id}}">
                <input type='checkbox' class='finishbox' data-taskid="{{task.id}}"/>
                <span class='tasktitle' ><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
                <span class='glyphicon glyphicon-trash'></span>
                {%if task.deadline%}
                <span class='deadline'>{{task.deadline}}</span>
                {%endif%}
            </div>
            {%endfor%}
            {%endif%}
            {%if currentWeekTasks.Minor%}
            <h5 class="Minor">Minor</h5>
            {%for task in currentWeekTasks.Minor%}
            <div class='task' id="task{{task.id}}">
                <input type='checkbox' class='finishbox' data-taskid="{{task.id}}"/>
                <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
                <span class='glyphicon glyphicon-trash'></span>
                {%if task.deadline%}
                <span class='deadline'>{{task.deadline}}</span>
                {%endif%}
            </div>
            {%endfor%}
            {%endif%}
            {%if currentWeekTasks.Finished%}
            <h5 class="Finished">Finished</h5>
            {%for task in currentWeekTasks.Finished%}
            <div class='task' id="task{{task.id}}">
                <input type='checkbox' class='finishbox' data-taskid="{{task.id}}" checked/>
                <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
            </div>
            {%endfor%}
            {%endif%}
            {%else%}
            <div class="notask">还没有任务哦，赶紧<a href="#" class='addtaskbtn' data-type='currentWeekTask'>添加</a>一个吧</div>
            {%endif%}
        </div>
    </div>
</div>
<div class="panel panel-default" id="nextWeekTask">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            下周任务
        </a>
    </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse nocheckpanel">
  <div class="panel-body">
    <input type='input' class='form-control addtask'><button class='btn btn-s btn-info addtaskbtn' data-type='nextWeekTask'>添加</button>
    {%if  nextWeekTasks.Critical or   nextWeekTasks.Severe or  nextWeekTasks.Major or  nextWeekTasks.Minor%}
    {%if nextWeekTasks.Critical%}
    <h5 class='Critical'>Critical</h5>
    {%for task in nextWeekTasks.Critical%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-trash'></span>
        {%if task.deadline%}
        <span class='deadline'>{{task.deadline}}</span>
        {%endif%}
    </div>
    {%endfor%}
    {%endif%}
    {%if nextWeekTasks.Severe%}
    <h5 class='Severe'>Severe</h5>
    {%for task in nextWeekTasks.Severe%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-trash'></span>
        {%if task.deadline%}
        <span class='deadline'>{{task.deadline}}</span>
        {%endif%}
    </div>
    {%endfor%}
    {%endif%}
    {%if nextWeekTasks.Major%}
    <h5 class="Major">Major</h5>
    {%for task in nextWeekTasks.Major%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-trash'></span>
        {%if task.deadline%}
        <span class='deadline'>{{task.deadline}}</span>
        {%endif%}
    </div>
    {%endfor%}
    {%endif%}
    {%if nextWeekTasks.Minor%}
    <h5 class="Minor">Minor</h5>
    {%for task in nextWeekTasks.Minor%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-trash'></span>
        {%if task.deadline%}
        <span class='deadline'>{{task.deadline}}</span>
        {%endif%}
    </div>
    {%endfor%}
    {%endif%}
    {%else%}
    <div class="notask">还没有任务哦，赶紧<a href="#" class='addtaskbtn' data-type='nextWeekTask'>添加</a>一个吧</div>
    {%endif%}
</div>
</div>
</div>
<div class="panel panel-default" id="futureTask">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          将来
      </a>
  </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse nocheckpanel">
  <div class="panel-body">
    <input type='input' class='form-control addtask'><button class='btn btn-s btn-info addtaskbtn' data-type='futureTask'>添加</button>
    {%if  futureTasks.Critical or   futureTasks.Severe or  futureTasks.Major or  futureTasks.Minor%}
    {%if futureTasks.Critical%}
    <h5 class='Critical'>Critical</h5>
    {%for task in futureTasks.Critical%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-trash'></span>
        {%if task.deadline%}
        <span class='deadline'>{{task.deadline}}</span>
        {%endif%}
    </div>
    {%endfor%}
    {%endif%}
    {%if futureTasks.Severe%}
    <h5 class='Severe'>Severe</h5>
    {%for task in futureTasks.Severe%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-trash'></span>
        {%if task.deadline%}
        <span class='deadline'>{{task.deadline}}</span>
        {%endif%}
    </div>
    {%endfor%}
    {%endif%}
    {%if futureTasks.Major%}
    <h5 class="Major">Major</h5>
    {%for task in futureTasks.Major%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-trash'></span>
        {%if task.deadline%}
        <span class='deadline'>{{task.deadline}}</span>
        {%endif%}
    </div>
    {%endfor%}
    {%endif%}
    {%if futureTasks.Minor%}
    <h5 class="Minor">Minor</h5>
    {%for task in futureTasks.Minor%}
    <div class='task' id="task{{task.id}}">
        <span class='tasktitle'><a href='#'  data-taskid={{task.id}}>{{task.name}}</a></span>
        <span class='glyphicon glyphicon-trash'></span>
        {%if task.deadline%}
        <span class='deadline'>{{task.deadline}}</span>
        {%endif%}
    </div>
    {%endfor%}
    {%endif%}
    {%else%}
    <div class="notask">还没有任务哦，赶紧<a href="#" class='addtaskbtn' data-type='futureTask'>添加</a>一个吧</div>
    {%endif%}
</div>
</div>
</div>
</div>
</article>



<aside id='rightcolumn'>
    <!-- <div id="stat" class="panel panel-info collapse in">
        <div class="panel-heading">
          <h3 class="panel-title">统计图表</h3>
      </div>
      <div class="panel-body">
        <h5>平均拖延天数</h5>
        <span id='delaydays'>7天</span>
        <h5>新增与完成任务曲线图</h5>
        <canvas id="newandfinish" width="380" height="200"></canvas>
        <hr>
        <h5>团队成员工作量对比</h5>
        <canvas id="workcontrast" width="380" height="200"></canvas>
    </div>
</div> -->

<div id="taskinfo" class="panel panel-info collapse">
    <div class="panel-heading">
      <h3 class="panel-title">任务信息</h3>
      <button type="button" class="close" >&times;</button>
  </div>
  <div class="panel-body">
    <div>
        <span class="label"></span>
        <span class='detaildeadline'>截止时间：<b>2014.03.09</b></span>
    </div>
    <h4 class="taskname"></h4>
    <div class="tasktodoer">

    </div>
    <div id='taskdetail'></div>
    <div id='changetask'>
        <a href="#" class='deletebtn'>删除任务</a> 
        <a href="#" class="changebtn">修改任务</a>
    </div>
    <hr>
    <section id='commentfield'>
                        <!-- <div class="comment"> || <div class="comment mycomment">
                            <img src="{{STATIC_URL}}image/head.png" class='smallphoto'/>
                            <span class='comment-content'>这是什么XX任务，怎么做啊！！</span>
                        </div> -->                        
                    </section>

                    <div class="input-group">
                      <input type="text" class="form-control" id="comment-content">
                      <span class="input-group-btn">
                        <button class="btn btn-default" id="add-comment-btn" type="button">发表评论</button>
                    </span>
                </div><!-- /input-group -->


            </div>
        </div>
    </aside>

    <div class="modal fade" id="deletetask-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-taskid="0">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">确定要删除？</h4>
        </div>
        <div class="modal-body">
            <span>您确定要删除该任务吗？</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-danger delete-btn">删除</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteproject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-taskid="0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">确定要删除？</h4>
    </div>
    <div class="modal-body">
        <span>您确定要删除项目<b></b>吗？</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="delete-project-btn" class="btn btn-danger delete-btn">删除</button>
    </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="task-modal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newModalLabel">任务</h4>
    </div>
    <div class="modal-body">
        <form id="add-task-form" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">任务标题</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control" id="task-title-input" placeholder="起一个响亮的名字是成功的一半">
          </div>
      </div>
      <div class="form-group">
        <label for="task-group-select" class="col-sm-2 control-label">任务组</label>
        <div class="col-sm-5">
          <select id="task-group-select"class="form-control" name="type">
              <option value="2">本周</option>
              <option value="1">下周</option>
              <option value="0">将来</option>
          </select>
      </div>
  </div>
  <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">优先级</label>
      <div class="col-sm-5">
          <select id="task-priority-select" class="form-control" name="priority">
              <option value="0">Critical</option>
              <option value="1">Severe</option>
              <option value="2" selected="selected">Major</option>
              <option value="3">Minor</option>
          </select>
      </div>
  </div>
  <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">状态</label>
      <div class="col-sm-5">
          <select id="task-status-select" class="form-control" name="priority">
              <option value="0">待完成</option>
              <option value="1">回收箱</option>
              <option value="2">待确认</option>
              <option value="3">已完成</option>
          </select>
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">指派给</label>
    <div class="col-sm-6">
      <select multiple class="form-control" name="todoer" id="todoer-select">
        {%for member in members%}
        <option value="{{member.id}}">{{member.email}} - {{member.username}}</option>
        {%endfor%}
    </select>
</div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">任务描述</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="detail" id="task-desc-textarea"></textarea>
  </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">截止时间</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" placeholder='举个栗子：2014-01-01' name="deadline" id="task-deadline-input">
  </div>
</div>




</div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="submit" class="btn btn-primary" data-taskid="0" id="addtask-submit-btn">创建</button>
</div>

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="updatetask-modal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="updateModalLabel">任务</h4>
    </div>
    <div class="modal-body">
        <form id="update-task-form" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">任务标题</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control" id="updatetask-title-input" placeholder="起一个响亮的名字是成功的一半">
          </div>
      </div>
      <div class="form-group">
        <label for="task-group-select" class="col-sm-2 control-label">任务组</label>
        <div class="col-sm-5">
          <select id="updatetask-group-select"class="form-control" name="type">
              <option value="2">本周</option>
              <option value="1">下周</option>
              <option value="0">将来</option>
          </select>
      </div>
  </div>
  <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">优先级</label>
      <div class="col-sm-5">
          <select id="updatetask-priority-select" class="form-control" name="priority">
              <option value="0">Critical</option>
              <option value="1">Severe</option>
              <option value="2">Major</option>
              <option value="3">Minor</option>
          </select>
      </div>
  </div>
  <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">状态</label>
      <div class="col-sm-5">
          <select id="updatetask-status-select" class="form-control" name="priority">
              <option value="0">待完成</option>
              <option value="1">回收箱</option>
              <option value="2">待确认</option>
              <option value="3">已完成</option>
          </select>
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">指派给</label>
    <div class="col-sm-6">
      <select multiple class="form-control" name="todoer" id="updatetask-todoer-select">
        {%for member in members%}
        <option value="{{member.id}}">{{member.email}} - {{member.username}}</option>
        {%endfor%}
    </select>
</div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">任务描述</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="detail" id="updatetask-desc-textarea"></textarea>
  </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">截止时间</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" placeholder='举个栗子：2014-01-01' name="deadline" id="updatetask-deadline-input">
  </div>
</div>

<!-- <div class="form-group">
    <label class="col-sm-2 control-label">开始时间</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" placeholder='举个栗子：2014-01-01' name="starttime" id="updatetask-starttime-input">
  </div>
</div> -->


</div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="submit" class="btn btn-primary" data-taskid="0" id="addtask-submit-btn">修改</button>
</div>

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="newteam-modal" tabindex="-1" role="dialog" aria-labelledby="newteamModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newteamModalLabel">新建团队</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">团队名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="teamtitle" placeholder="起一个响亮的名字是成功的一半">
          </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">添加成员</label>
        <div class="col-sm-10">
            <div class="input-group">
            <input type="text" class="form-control"  placeholder="输入邮箱进行搜索" id="create-memberinput">
            <span class="input-group-btn">
                <button class="btn btn-default create-addmember" type="button">添加</button>
            </span>
        </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">成员</label>
        <div class="col-sm-10 memberbox">
          <p class="form-control-static teammember" data-userid="{{user.id}}">{{user.username}} - {{user.email}}<span class="glyphicon glyphicon-trash"></span></p>
      </div>
  </div>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" id="addmember">创建</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="newproject-modal" tabindex="-1" role="dialog" aria-labelledby="newprojectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newprojectModalLabel">新建项目</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">项目名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="起一个响亮的名字是成功的一半">
          </div>
      </div>
  </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" id="add-project-submitbtn">创建</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modifypersoninfo-modal" tabindex="-1" role="dialog" aria-labelledby="modifypersoninfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modifypersoninfoModalLabel">个人信息修改</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">用户名ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nametitle" placeholder="起一个响亮的名字是成功的一半" value="{{user.email}}">
          </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{user.username}}</p>
      </div>
  </div>


</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" id="updatePersonalInfo">确定</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="manageteam-modal" tabindex="-1" role="dialog" aria-labelledby="manageteamModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="manageteamModalLabel">管理团队</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">团队名称</label>
                <p class=" col-sm-10 form-control-static">{{currentTeam.name}}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">添加成员</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control"  placeholder="输入邮箱进行搜索" id="update-memberinput">
                        <span class="input-group-btn">
                            <button class="btn btn-default update-addmember" type="button">添加</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">成员</label>
                <div class="col-sm-10 memberbox">
                    {%for item in currentTeam.member.all%}
                  <p class="form-control-static teammember" data-userid="{{item.id}}">{{item.username}} - {{item.email}}<span class="glyphicon glyphicon-trash"></span></p>
                  {%endfor%}
              </div>
          </div>

      </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" id="manageteam">确定</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="signout-modal" tabindex="-1" role="dialog" aria-labelledby="signoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="signoutModalLabel">退出登录</h4>
    </div>
    <div class="modal-body">
      <span>您确定要退出登陆吗？</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <a href="{%url 'upon:logout'%}"><button type="button" class="btn btn-danger">确定</button></a>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="memberbox-modal" tabindex="-1" role="dialog" aria-labelledby="signoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="signoutModalLabel">团队成员</h4>
    </div>
    <div class="modal-body">
        {%for member in currentTeam.member.all%}
      <img class="img-thumbnail bigphoto todoer" src="/avatar/{{member.id}}/" data-toggle='tooltip' data-placement='bottom' data-original-title="{{member.email}}"/>
      {%endfor%}
  </div>
  
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    //global varible
    userid="{{user.id}}"
    username = "{{user.email}}"
    projectid = "{{currentProject.id}}"
    teamid = "{{currentTeam.id}}"
    </script>

    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}autocomplete/jquery.autocomplete.js"></script>
    <script src="{{STATIC_URL}}js/icheck.js"></script>
    <script src="{{STATIC_URL}}js/Chart.min.js"></script>
    <script src="{{STATIC_URL}}js/common.js"></script>
    <script src="{{STATIC_URL}}js/main.js"></script>

    <script>
  //  // diagram
 // var finishdata = {
 //     labels: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"],
 //     datasets: [{
 //         fillColor: "rgba(220,220,220,0.5)",
 //         strokeColor: "rgba(220,220,220,1)",
 //         pointColor: "rgba(220,220,220,1)",
 //         pointStrokeColor: "#fff",
 //         data: [65, 59, 90, 81, 56, 55, 40]
 //     }, {
 //         fillColor: "rgba(151,187,205,0.5)",
 //         strokeColor: "rgba(151,187,205,1)",
 //         pointColor: "rgba(151,187,205,1)",
 //         pointStrokeColor: "#fff",
 //         data: [28, 48, 40, 19, 96, 27, 100]
 //     }]
 // };
 // var ctx = document.getElementById("newandfinish").getContext("2d");
 // var myNewChart = new Chart(ctx).Line(finishdata);

 // var workdata = [{
 //         value: 30,
 //         color: "#F7464A"
 //     }, {
 //         value: 50,
 //         color: "#E2EAE9"
 //     }, {
 //         value: 100,
 //         color: "#D4CCC5"
 //     }, {
 //         value: 40,
 //         color: "#949FB1"
 //     }, {
 //         value: 120,
 //         color: "#4D5360"
 //     }

 // ];

 // var workctx = document.getElementById("workcontrast").getContext("2d");
 // var workChart = new Chart(workctx).Doughnut(workdata);
    </script>
</body>
</html>
