body{
	/*background-color: #f2f2f2;*/
	background: url('../image/back.jpg') no-repeat center center fixed;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	width:1024px;
	margin:0 auto;
}
nav#leftcolumn{
	display:table-cell;
	width:200px;
}
article{
	width:350px;
	display:table-cell;
	padding: 0 10px;
}
aside{
	width:520px;
	display:table-cell;
}

.bigphoto{
	width:50px;
}
.smallphoto{
	width:20px;
}
.username{
	font-size: 20px;
	color:#444;
}
.priorty , .deadline{
	float: right;
	margin-top: 3px;
}

#confirm-task-panel,#personal-task-panel,#accordion,#rubbishaccordion{
	width:350px;
}
.task{
	width:320px;
	margin:2px 0;
	padding: 5px 3px 0 3px;
	border-top: 2px  #f2f2f2;
	cursor: pointer;
}

.task .glyphicon{
	display:none;
}
.task:hover .glyphicon{
	display:inline;
}
/*.task:first-child{
	border-top: none;
}*/
/*.task input{
	display:table-cell;
	margin-right: 5px;
}
.task .tasktitle{
	display:table-cell;
	margin-left-top: 3px;
	width:250px;
	margin-right: 5px;
}
.task .deadline{
	display:table-cell;
	width:60px;
}*/
#middlecolumn ul{
	margin-bottom: 5px;
}
.addtask{
	display:inline;
	width:80%;
	margin-right: 5px;
}

.icheckbox_square-blue,.icheckbox_square-yellow{
	/*top:10px;*/
	-webkit-background-size: 200px 20px;
	background-size: 200px 20px;
	width:20px;
	height: 20px;
}
.icheckbox_square-blue:hover,.icheckbox_square-yellow:hover{
	-webkit-background-size: 200px 20px;
	background-size: 200px 20px;
	width:20px;
	height:20px;
	background-position: -20px 0;
}
.icheckbox_square-blue.checked , .icheckbox_square-yellow.checked {
	background-position: -40px 0;
}
.panel-collapse{
	max-height: 380px;
	overflow-y: scroll ;
}
#project-list{
	max-height: 376px;
	overflow-y: scroll ;
}
#project-list a:last-child span{
	font-size:15px;
	margin-right: 3px;
}
#addteam{
	float:left;
	margin-top: -32px;
	margin-left: 100px;
	padding:2px 20px;
}
#teamselect{
	margin: 10px 0;
	width:200px;
}
/*#leftcolumn span{
	font-size: 20px;
	font-weight: bold
}*/
.detailpriority{
	font-size: 15px;
}
.detaildeadline{
	float:right;
}
#taskdetail{
	margin: 10px 0 0 0;
}

hr{
	margin:10px 0 10px 0;
}
.comment{
	margin:10px 0;
}
.comment span{
	background-color: #fcf8e3;
	border:1px solid;
	border-radius: 4px;
	padding:6px;
	border-color: #faebcc;
	color:#8a6d3b;
}
.mycomment{
	overflow:hidden;
	margin:10px 0 0 0;
	margin-bottom:10px;
}
.mycomment img,.mycomment span{
	float:right;
}
.mycomment span{
	margin-right: 4px;
}
.mycomment img{
	margin-top: 4px;
}
#rightcolumn .panel-body{
	max-height: 470px;
	overflow-y: scroll ;
}
#changetask{
	overflow:hidden;
	margin-top:10px;
}
#changetask a{
	float:right;
	margin:0 5px;
}
#rightcolumn .close{
	margin-top: -18px;
	margin-right: -5px;
}
#taskinfo{
	/*display:none;*/
}
#stat{
	/*opacity:1;*/
}
#rubbishaccordion{
	display:none;
}
#delaydays{
	float:left;
	font-size: 16px;
	font-weight: bold;
	margin:-40px 0 0 130px;
}
#stat .panel-body h5:first-child{
	margin-bottom: 20px;
}

.nocheckpanel .tasktitle {
	margin-left: 8px;
}
#confirm-task-panel,#personal-task-panel{
	display:none;
}
.glyphicon-chevron-right{
	float:right;
	font-size: 14px;

}

.label{
	font-size: 15px;
	line-height: 28px;
	padding: .2em .6em;
}
#personal-info{
	margin-left: 196px;
}
#banner-icon{
	margin-top: 14px;
	margin-left: -8px;
}
#banner-icon a{
	display:inline;
	font-size:18px;
	padding:15px 3px;

}

#headernav{
	width: 850px;
}

#createTeam{
	margin-top: 140px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	vertical-align: text-bottom;
}
#btn-createTeam{
	margin-left: 200px;
}

#p-tBtnAbove{
	margin-left: 260px;
}

#p-tBtn{
	margin-left: 310px;
	margin-top: 20px;
	height: 50px;
}

#p-tBtnBelow{
	font-size: 13px;
	height: 50px;
	margin-top: 10px;
	margin-left: -50px;
	vertical-align: bottom;
}

/*#teamselect{
	border:none;
}
#teamselect:hover{
	background-color: #f2f2f2;
}*/
.suggesstion{
	color: red;
	font-size: 10px;
}